*,::before,::after{
    box-sizing: border-box;
}
:root{
    --background-color:#fff;
    --second-bg-color:#FBFAFF;
    --heading-color:#080415;
    --desc-color:#51586A;
    --decor-color:#5D3BEE;
    --btn-color: #fdfdfd;
    
}
html{
    font-size: 62.5%;
}
body{
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
}
input,textarea,select,button{
    font-size: inherit;
    font-family: inherit;
}
/* Chung */
.a{
    text-decoration: none;
}
.email{
    display: flex;
    align-items: center;
    gap: 10px;
}
.email__wrap{
    border: 1px solid rgb(93,59,238,0.3);
    border-radius: 50%;
}
.email__icon{
    padding: 8px;
}
.email__name{
    color: var(--heading-color);
    font-family: DM Sans;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 30px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 10%;
}
.logo{
    width: 100px;
    height: 100px;
}
.section-heading{
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 4.2rem;
    leading-trim: NONE;
    line-height: 50px;
    letter-spacing: -4%;

    color: var(--heading-color);
}
.section-desc{
    font-family: DM Sans;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 30px;
    color: var(--desc-color);
}
.btn{
    width: 170px;
    height: 62px;
    line-height: 62px;

    font-weight: 700;
    font-style: Bold;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--btn-color);
    text-decoration: none;

    padding: 16px 37px;

    background-color: var(--decor-color);
   
}
/* Header */
.header{
    background-color: var(--second-bg-color);
    margin-left: auto;
    margin-right: auto;
    padding:20px 135px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-list{
    display: flex;
    gap: 43px;
}
.navbar__link{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    color: #51586A;
    text-decoration: none;
}
/* Hero */
.hero{
    background-color: var(--second-bg-color);
    /* margin-top: 40px; */
    padding-top: 100px;
    padding-bottom: 38px;
    overflow: hidden;
    position: relative;
}
.row__hero{
    align-items: center;
}
.hero__media{
    position: absolute;
    top: 0;
    left: 0;
}
.hero__wrap-img{
  
}
.hero__img{
    display: inline-block;
    width: 575px;
    height: 650px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 100px;
}
.hero__decor{
    position: absolute;
    z-index: 0;
    left: -100px;
    top: -94px;
}
.hero__content{
   
}
.hero__heading{
    font-family: DM Sans;
    font-weight: 500;
    font-size: 8rem;
    line-height: 1;
    letter-spacing: -4%;
}
.hero__desc{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 370px;
}
.cta{
    font-family: DM Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 1.8rem;
    line-height: 1.67;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: var(--heading-color);

    margin-left: 30px;
}
.hero__social{
    margin-top: 104px;
}
.social__item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 8px;
}
.social__item:first-of-type{
    margin-left: 15px;
}
/* Company */
.company{
    padding-top: 100px;
}
.company__heading{
    width: 350px;
    position: relative;
    padding-left: 100px;
}
.company__heading::before{
    content: "";
    width: 86px;
    height: 2px;
    background-color: var(--decor-color);
    display: inline-block;
    position: absolute;
    left: -22px;
    top: 20px;
}
.company__item{
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 34px;
}
.company__icon{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.company__icon-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #FBFAFF;
    border-radius: 50%;
}
.company__icon-small{ 
    width: 20px;
    height: 24px;
    border-radius: 0;
}
.company__name{
    color: var(--heading-color);
    font-weight: 500;
    word-wrap: nowrap;
}